<div style="max-width:160rem" > 
    <div style="height: 200px; background: url('assets/sedes.jpg') no-repeat; 
    background-size: cover;"></div>
    <div class="px-4 py-5 md:px-4 lg:px-4 surface-section min-h-screen" style="border-radius: 7px;">
<div class="overflow-y-auto" style="background-color: transparent;">

  <div class=" flex flex-column flex-auto 
  overflow-y-auto ">
  <span class="justify-content-center align-content-center align-items-center">
    <div class="surface-section p-3 " style="border-radius: 10px;">
      <div class="flex align-items-start flex-column lg:flex-row 
      lg:justify-content-between">
          <div class="flex align-items-start flex-column md:flex-row">
              <!-- <img src="assets/images/blocks/avatars/circle/avatar-f-1@2x.png"
              class="mr-5 mb-3 lg:mb-0" style="width: 90px; height: 90px;"> -->
              <div><span class="text-900 font-medium text-3xl">Administración</span>
                  <i class="pi pi-star text-2xl ml-4 text-yellow-500"></i>
                  <div class="flex align-items-center flex-wrap text-sm">
                      <div class="mr-5 mt-3">
                          <span class="font-medium text-500">Sedes</span>
                          <div class="text-700 mt-2">1</div>
                      </div>
                      <div class="mr-5 mt-3">
                          <span class="font-medium text-500">Usuarios</span>
                          <div class="text-700 mt-2">26</div>
                      </div>
                      <div class="mr-5 mt-3">
                        <span class="font-medium text-500">Clientes</span>
                        <div class="text-700 mt-2">26</div>
                    </div>
                    <div class="mr-5 mt-3">
                      <span class="font-medium text-500">Proveedores</span>
                      <div class="text-700 mt-2">26</div>
                  </div>
                      <div class="mr-5 mt-3">
                          <span class="font-medium text-500">Empleados</span>
                          <div class="text-700 mt-2">17</div>
                      </div>
                      <div class="mt-3">
                          <span class="font-medium text-500">Cajeros</span>
                          <div class="text-700 mt-2">1</div>
                      </div>

                   
                  </div>
              </div>
          </div>
          <div class="mt-3 lg:mt-0">
              <button pbutton="" pripple="" icon="pi pi-bookmark" 
              class="p-ripple p-element p-button-rounded mr-2 p-button 
              p-component p-button-icon-only">
              <span class="p-ink"></span>
              <span class="p-button-icon pi pi-bookmark" aria-hidden="true"></span>
              <span aria-hidden="true" class="p-button-label">&nbsp;</span>
          </button>
          <button pbutton="" pripple="" icon="pi pi-heart" 
          class="p-ripple p-element p-button-rounded p-button-success mr-2 
          p-button p-component p-button-icon-only">
              <span class="p-ink"></span>
              <span class="p-button-icon pi pi-heart" aria-hidden="true"></span>
              <span aria-hidden="true" class="p-button-label">&nbsp;</span>
          </button>
      <button pbutton="" pripple="" icon="pi pi-list" 
      class="p-ripple p-element p-button-rounded p-button-help p-button 
      p-component p-button-icon-only"><span class="p-ink"></span>
      <span class="p-button-icon pi pi-list" aria-hidden="true"></span>
      <span aria-hidden="true" class="p-button-label">&nbsp;</span>
    </button>
          </div>
      </div>
    </div>
  </span>

</div>
</div>
</div>
</div>
